<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <nb-select class="desktop" name="view" [selected]="view" (selectedChange)="selectView($event)">
          <nb-option *ngFor="let option of calendarViewOptions" [value]="option">{{ option }}</nb-option>
        </nb-select>
      </nb-card-header>
      <nb-card-body [ngSwitch]="view">
        <app-calendar-header [(view)]="view" [(viewDate)]="viewDate">
        </app-calendar-header>
        <mwl-calendar-month-view *ngSwitchCase="'month'" precision="minutes" [viewDate]="viewDate"
          [activeDayIsOpen]="activeDayIsOpen" [events]="(events$ | async) || []" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="openDialog(showInfo, $event.event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="'week'" [dayStartHour]="9" [dayEndHour]="23" precision="minutes" [viewDate]="viewDate"
          [events]="(events$ | async) || []" (eventClicked)="openDialog(showInfo, $event.event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" [dayStartHour]="9" [dayEndHour]="23" precision="minutes" [viewDate]="viewDate"
          [events]="(events$ | async) || []" (eventClicked)="openDialog(showInfo, $event.event)">
        </mwl-calendar-day-view>
      </nb-card-body>
    </nb-card>

    <ng-template #showInfo let-data let-ref="dialogRef">
      <nb-card>
        <nb-card-header>Информация</nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item>
              <div class="title">Название:</div>
              <div class="value">{{ data.title }}</div>
            </nb-list-item>
            <nb-list-item *ngIf="data.meta.teacher_uids">
              <div class="title">Преподаватели:</div>
              <div class="value">
                <div *ngFor="let uid of data.meta.teacher_uids">
                  <span *ngIf="uid | user | async as user">{{ user?.first_name }} {{ user?.last_name }} </span>
                </div>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div class="title">Начало:</div>
              <div class="value">{{ data.start | date: 'dd.MM.yyyy HH:mm' }}</div>
            </nb-list-item>
            <nb-list-item *ngIf="data.end">
              <div class="title">Окончание:</div>
              <div class="value">{{ data.end | date: 'dd.MM.yyyy HH:mm' }}</div>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton status="primary" *ngIf="!data.meta.is_enrolled" outline [disabled]="loading" (click)="entry(data.id)">Записаться</button>
          <button nbButton status="primary" *ngIf="data.meta.is_enrolled" outline [disabled]="loading" (click)="removeEntry(data.id)">Убрать запись</button>
          <button nbButton status="primary" class="card-button" (click)="navigate(data.id)">Редактировать</button>
        </nb-card-footer>
      </nb-card>
    </ng-template>
  </nb-layout-column>
</nb-layout>
