<button *ngIf="(isLoggedIn$ | async)" nbButton status="basic" size="tiny" class="burger" (click)="toggle()">
  <nb-icon icon="menu-outline"></nb-icon>
</button>
<h1>{{ title$ | async }}</h1>
<div class="navigation">
  <a *ngIf="!(isLoggedIn$ | async); else loggedIn" class="login" nbButton status="basic" size="tiny" [routerLink]="['/auth']">
    <nb-icon icon="person-outline"></nb-icon>
  </a>
  <ng-template #loggedIn>
    <nb-user *ngIf="user$ | async as user" [picture]="user.avatar_urls ? ((user.avatar_urls[0] | mediaUrl | async) || '') : ''" [name]="user.first_name + ' ' + user.last_name">
    </nb-user>
  </ng-template>
</div>
