<button *ngIf="(isLoggedIn$ | async)" nbButton status="basic" size="tiny" class="burger" (click)="toggle()">
  <nb-icon icon="menu-outline"></nb-icon>
</button>
<h1>Admin</h1>
<div class="navigation">
  <a *ngIf="!(isLoggedIn$ | async); else loggedIn" class="login" nbButton status="basic" size="tiny" [routerLink]="['/auth']">
    <nb-icon icon="person-outline"></nb-icon>
  </a>
  <ng-template #loggedIn>
    <a class="login" nbButton status="basic" size="tiny" [routerLink]="['/auth/logout']">
      <nb-icon icon="person-outline"></nb-icon>
      {{ user$ | async }}
    </a>
  </ng-template>
</div>
