@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;
@use '@nebular/auth/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global();
};
/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
nb-layout {
  --layout-padding: 0;
}

.form-group {
  display: flex;
  column-gap: 0.625rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  label {
    width: 100px;
  }

  input, textarea, select {
    width: 100%;
  }
}
