<div class="header">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        <nb-icon icon="arrow-ios-back-outline"></nb-icon>
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        Сегодня
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate: view + 'ViewTitle' }}</h3>
  </div>
  <div class="col-md-4">
  </div>
</div>
